--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.8.0
pytorch-lightning==2.4.0
numpy==2.0.2
pandas==2.2.3
pyyaml==6.0.2
scikit-learn==1.5.2
tensorboard==2.20.0
rich==13.9.4

# Jupyter notebook
jupyter==1.1.1
ipykernel==6.29.5
ipywidgets==8.1.5

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
plotly==6.5.2
tqdm==4.66.4

# ONNX export and verification
# onnx==1.16.1
# onnxruntime==1.18.0

# Evaluation and visualization
matplotlib>=3.7.0
